[submodule "scripts"]
	path = scripts
	url = https://github.com/G-ranium/Game-Dev
[submodule "Tools"]
	path = Tools
	url = https://github.com/G-ranium/Tools
[submodule "ArtisanDream.Tools"]
	path = ArtisanDream.Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
